
:root {
    --negro: #000;
    --obscuro: #000000d0;
    --blanco: rgb(153, 147, 147);
    --gris: rgb(105, 109, 105);

}

html {

    font-size: 62.5%; /* se inicializa y estandariza el documento para manejo del tamaño en REM */
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    background-image: url("https://source.unsplash.com/1600x1150/?landscape");
      
}
.container{
     padding: 2rem;
     background: var(--obscuro);
     width: 100%;
     max-width: 375px;
     margin: 1rem;
     border-radius: 1rem;
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: center;

}



#button1 {
    margin:.5rem;
    border-radius: 50%;
    border: none;
    height: 5rem;
    width: 5rem;
    outline: none;
        
}
button:hover {
    background: var(--gris);
}



input{
    border: none;
    outline: none;
    padding-inline-start: 1rem;
    border-radius: 5rem;
    background: var(gris);
    width: 15rem;
    height: 1rem;

}
.temperatura{
    font-size: 1rem;
    text-align: center;

}


@media (min-width: 720px ) {

    .container{
        padding: 5rem;
        background: var(--obscuro);
        width: 100%;
        max-width: 700px;
        margin: 5rem;
        border-radius: 1rem;
    }

    input{
        padding-inline-start: 2rem;
        width: 40rem;
        height: 2.5rem;
        font-size: 2rem;

    }

    .temperatura {
        font-size: 2rem;
    }

    .contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
         }
    }
